{
	"singleQuote": true,
	"arrowParens": "avoid",
	"useTabs": true,
	"endOfLine": "lf",
	"trailingComma": "es5",
	"semi": false,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"quoteProps": "as-needed",
	"bracketSpacing": true
}
